Origin: Hardened Penguin
Label: Hardened Penguin APT Repository
Suite: stable
Codename: stable
Architectures: amd64 arm64
Components: main
Description: Third-party Debian packages built by hardenedpenguin
SignWith: @SIGN_WITH@
